.medicineSearchContainer {
  position: relative;
}

.searchbar {
  width: 100%;
  height: 30px;
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.filterBtn {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
  height: 100%;
  padding: 0px 10px;
  background: rgb(30, 179, 154);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.searchInput {
  border: none;
  height: 100%;
  width: 87%;
  padding: 0 10px;
  font-size: 16px;
  letter-spacing: 0.3px;
}

.searchIconContainer {
  width: 13%;
  height: 100%;
  background: rgb(72, 69, 95);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  font-size: 20px;
  color: white;
}

.searchInput:focus {
  outline: none;
}

.search_result_header {
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0px;
  text-align: center;
}

.filteredList {
  position: absolute;
  top: 31px;
  left: 0;
  background: white;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  z-index: 10;
}

.search_results_container {
  margin: 0px auto;
}

.search_result_item {
  border-bottom: 2px solid #fafafa;
  padding: 5px 8px 8px;
  background: rgb(210, 240, 233);
  height: fit-content;
}

.search_result_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock_status {
  font-size: 12px;
  padding: 1px 4px;
  border-radius: 3px;
  background: rgb(24, 199, 24);
  color: rgb(255, 255, 255);
}

.add_btn {
  background: rgba(221, 221, 73, 0.801);
  color: rgb(255, 255, 255);
  padding: 4px 5px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
  transform: scale(1);
  transition: ease all 0.25s;
}

.add_btn:hover {
  background: rgba(197, 197, 68, 0.801);
}

.add_btn:active {
  transform: scale(0.95);
}

.search_result_title_container {
  display: flex;
  align-items: center;
}

.medicine_dosage_icon {
  height: 20px;
  margin: 0px 3px;
}

.medicine_dosage_icon img {
  height: 100%;
  width: auto;
}

.brandName {
  font-size: 20px;
  font-weight: 700;
}

.strength {
  font-size: 16px;
  font-weight: 500;
  color: #606060;
}

.dosageform {
  font-size: 12px;
  font-weight: 400;
  color: #606060;
  margin-left: 5px;
}

.genericName {
  font-size: 14px;
  font-weight: 500;
  margin-left: 6px;
  color: rgb(160, 106, 95);
  display: flex;
  align-items: center;
}

.medicineType {
  font-size: 12px;
  font-weight: 400;
  color: rgb(14, 172, 35);
  margin-left: 5px;
}

.manufacturer {
  font-size: 14px;
  color: #666;
  font-weight: 500;
  margin-left: 6px;
  color: rgb(15, 67, 92);
}

.herbalIcon {
  height: 15px;
  width: auto;
  margin-left: 10px;
}
